# Web framework
Django==4.2.26

# WSGI/ASGI & static
gunicorn==20.1.0
whitenoise==6.11.0
asgiref==3.9.2

# Channels (WebSocket) + Redis backend
channels==4.3.2
channels-redis==4.3.0
redis==4.6.0
num2words==0.5.13

# Database (Postgres)
psycopg2-binary==2.9.10

# REST / API
djangorestframework==3.16.1
drf-spectacular==0.29.0

# Env / config
django-environ==0.12.0
python-dotenv==1.1.1

# Frontend helpers
django-bootstrap5==25.2
django-widget-tweaks==1.5.0
django-multiselectfield==1.0.1
Pillow==11.3.0

# Task queue
celery==5.4.0
kombu==5.4.2

# OpenAI & HTTP client
openai==1.109.1
httpx>=0.23,<1

# Useful utilities
python-dateutil==2.9.0
pytz==2024.2

# Packaging/build tools
pip==25.1.1
setuptools>=65.0.0
wheel
xhtml2pdf==0.2.15
weasyprint==53.3
